<form [formGroup]="form" (submit)="updateVehicle()">
    <input type="text" placeholder="codigo" formControlName="codigo" />
    <input type="text" placeholder="marca" formControlName="marca" />
    <input type="text" placeholder="modelo" formControlName="modelo" />
    <input type="text" placeholder="anio" formControlName="anio" />
    <input type="text" placeholder="kilometraje" formControlName="kilometraje" />
    <input type="text" placeholder="precio" formControlName="precio" />
    <input
      type="text"
      placeholder="calificacion"
      formControlName="calificacion"/>
    <button type="submit">Actualizar</button>
</form>